.wrapper {
  position: relative;
  margin: 40px 0;
  width: 100%;
}

.left {
  background-color: var(--grey-background);
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.money-title {
  text-align: left;
  font-size: 1.6rem;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
}

.sub-header,
.header {
  max-width: 300px;
  font-size: 4rem;
  font-weight: 700;
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;

  .sub-header {
    margin-bottom: 0;
  }
}

.sub-header {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 40px;
}

.bottom,
.top,
.review,
.checkout {
  display: flex;
  flex-direction: column;
}

.checkout {
  margin: 0 20px;
  padding: 20px 28px;
  background-color: var(--grey-background);
}

.top {
  .title {
    text-align: left;
    padding: 16px 0;

    span {
      font-size: 1.3rem;
      color: var(--grey);
      font-weight: 400;
    }
  }

  .btn {
    max-width: 49%;
    flex: 1;
  }
}

.discount-modal {
  flex: 1;

  .discount-btn {
    width: 98%;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-price,
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.bottom {
  .title {
    font-weight: 500;
  }

  .other-price,
  .other-title {
    font-size: 1.3rem;
    color: var(--grey);
    font-weight: 400;
  }

  .review {
    .price {
      margin-top: 20px;
    }
  }
}

.price {
  .btn {
    flex: 1;
  }
}

.money {
  text-align: right;
}

.link {
  display: flex;
  width: 100%;

  .btn {
    flex: 1;
  }
}
