.wrapper {
  margin-top: 20px;
}

.label {
  color: var(--black);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.select {
  border: var(--black);
  border-radius: 0 !important;
  outline: none;
}
