::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

.link {
  display: flex;
  justify-content: center;
}

.row {
  padding: 60px;
  background-color: var(--black);

  &.apply {
    max-height: 600px;
    overflow-y: scroll;
  }
}

.part {
  color: var(--white);
  font-size: 3rem;
  margin-bottom: 40px;
}
