.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;

  &.children {
    margin-left: 40px;
    margin-top: 10px;
  }

  .child,
  .parent {
    display: flex;
    width: 100%;
  }

  .parent {
    box-shadow: 2px 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 12px;
    margin-top: 12px;
  }

  .child {
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    .username {
      color: var(--pink);
      font-weight: 600;
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  flex: 1;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reply {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.form-group {
  width: 90%;
  margin-bottom: 12px;
  text-align: left;
  margin-left: 40px;
}

.form-label {
  font-size: 1.6rem;
  font-weight: 600;
  user-select: none;
}

.form-control {
  min-height: 100px !important;
  font-size: 1.6rem;
  border: 1px solid var(--grey);
  box-shadow: none;

  &:focus {
    border: unset;
    outline: none;
  }
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 8px;
}

.comment {
  text-align: left;
}

.actions {
  display: flex;
}

.action {
  background-color: var(--black);
  padding: 4px 0px;
  border-radius: 6px;
  color: var(--white);
  user-select: none;
  margin-bottom: 0;
  margin-right: 8px;

  &:hover {
    cursor: pointer;
    background-color: var(--pink);
  }
}

.confirm {
  background-color: var(--black);
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--white);
  user-select: none;
  margin-bottom: 0;
  min-width: 80px;

  &:hover {
    cursor: pointer;
    background-color: var(--pink);
  }
}
