.form-group {
  min-width: 400px;
  margin-bottom: 12px;
}

.form-label {
  font-size: 1.6rem;
  font-weight: 600;
}

.form-control {
  min-height: 40px;
  font-size: 1.4rem;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 24px;
}

.submit-btn {
  margin-top: 30px;
  min-height: 80px;
  width: 100%;
  font-size: 2rem;
}
