.container {
  margin: 8px 0;
}

.field {
  margin: auto auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.text {
  flex: 1;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .description {
    font-size: 1.4rem;
    color: var(--grey);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.action,
.number {
  text-align: center;
  margin: 0;
}

.icon,
.action {
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
