.shop {
  margin: 14px 0;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 8px 52px 0 14px;
}

.total {
  font-weight: 500;
}
