.modal {
  max-width: unset !important;
  padding: 20px 32px !important;
  width: 70%;
  transform: translate(-50%, -50%);
  padding: 60px;
  background-color: var(--white);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.inner {
  width: 100%;
  border: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0 !important;
  font-size: 3rem;
  font-weight: 700;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.heading {
  border: 0;
  padding-bottom: 0;
}

.form-group {
  margin-bottom: 16px;
}

.form-control {
  font-size: 1.6rem;
  padding: 12px 16px;
  color: var(--grey);
  border-radius: 16px;
}

.radio {
  display: flex;
  padding: 12px;
  border: 1px solid var(--grey);
  border-radius: 16px;
  margin-left: 12px;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.top {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.name {
  font-size: 1.6rem;
}

.description {
  font-size: 1.4rem;
  color: var(--grey);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.submit {
  margin-top: 8px;
  width: 100%;
}
