.wrapper {
  min-width: 80px;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #000;
}

// Size
.large {
  min-width: 132px;
}

.quantity {
  user-select: none;
  font-size: inherit;
  margin: 0;
}

.icon {
  &:hover {
    color: var(--pink);
    cursor: pointer;
  }
}
