.chatbox {
  padding: 4px 20px;
  min-width: 340px;
}

.note {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  .status-item {
    display: flex;
    align-items: center;

    span {
      margin-left: 4px;
      font-size: 1.4rem;
      user-select: none;
    }
  }
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  margin: 6px 0;

  .chat-user-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
  }

  .chat-user-info {
    min-width: 68%;
    display: flex;
    flex-direction: column;
    margin-right: auto;

    .chat-user-name {
      font-size: 1.6rem;
      font-weight: 600;
    }

    .chat-user-message {
      margin-bottom: 0;
      font-size: 1.4rem;
      opacity: 0.7;
    }
  }
}

.nonread {
  color: var(--pink);
}

.see-all {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--pink);
  border-top: 2px solid var(--pink);
  font-weight: 600;
  margin-top: 12px;
}

.current {
  background-color: var(--pink);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--white);
}

.hide {
  display: none !important;
}
