.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 280px;
  min-height: 120px;
}

.img {
  width: 100%;
  height: 100%;
}

.noti {
  margin-top: 8px;
}
